extends layout 

block content 
    nav 
      a(href= '/').title MembersOnly
      if user.membership === false && user.role !== 'admin'
        a(href= user.adminURL).become-admin Become a admin
        a(href= user.url).become-member Become a member
      else if user.membership === false && user.role === 'admin'
        a(href= user.url).become-member Become a member
      else if user.membership === true && user.role !== 'admin'
        a(href= user.adminURL).become-admin Become a admin
      ul
        li.dropdown
          a.dropbtn(href='/')= user.userName
          .dropdown-content
            div.dropdown-container
              div Membership active
              div.membership-status #{user.membership}
              div Signed in as a
              div.user-role= user.role
              a(href='/log-out') Logout
    form.add-admin-form(action="", method='POST')
        .form-group
            label(for="password") Enter secret code to become a admin
            input(type="password", name='password', id='password') 
            if error
                div= error
        .form-group
            input(type="submit", value='submit')
